@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLight.eot');
    src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamLight.woff2') format('woff2'), url('../fonts/GothamLight.woff') format('woff'), url('../fonts/GothamLight.ttf') format('truetype'), url('../fonts/GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBlack.eot');
    src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBlack.woff2') format('woff2'), url('../fonts/GothamBlack.woff') format('woff'), url('../fonts/GothamBlack.ttf') format('truetype'), url('../fonts/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBook.woff2') format('woff2'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype'), url('../fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBold.woff2') format('woff2'), url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf') format('truetype'), url('../fonts/GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* ****************************************************************
Estilos Generales
**************************************************************** */
html,body {
  min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Gotham', sans-serif;
    font-weight: normal;
}

a {
    color: #9F1897;
    text-decoration: underline;
}

    a:hover, a:focus {
        color: #ca20c0;
    }

.btn {
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Gotham', sans-serif;
}

.btn-lg, .btn-group-lg > .btn {
    letter-spacing: 0.05em;
    height: 45px;
}

.btn-primary {
    background-color: #9F1897;
    border: none;
    font-weight: bold;
    letter-spacing: 0.03em;
    padding: 10px 15px;
    min-width: 150px;
}

    .btn-primary:hover {
        background-color: #7F0C78;
    }

    .btn-primary:focus, .btn-primary.focus {
        background-color: #7F0C78;
        outline: 5px auto #FF00F0;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-color: #7F0C78;
    }

        .btn-primary:active:hover,
        .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus {
            background-color: #7F0C78;
            outline: 5px auto #FF00F0;
        }

.btn-cta {
    -webkit-box-shadow: 0 5px 0 #7F0C78;
    box-shadow: 0 5px 0 #7F0C78;
    position: relative;
    margin-bottom: 5px;
}

.btn-cta:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-cta.btn-primary:hover {
    background-color: rgb(158, 55, 155);
    -webkit-box-shadow: 0 5px 0 rgb(134, 31, 129);
    box-shadow: 0 5px 0 rgb(134, 31, 129);
    outline: 0;
}

.btn-cta.btn-primary:active,
.btn-cta.btn-primary.active, .open > .dropdown-toggle.btn-cta.btn-primary {
    background-color: #9F1897;
    -webkit-box-shadow: 0 0 0 #7F0C78;
    box-shadow: 0 0 0 #7F0C78;
    top: 5px;
}

.form-control {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    border-color: #ECECEC;
}

.no-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
}
.icon,
.icon svg,
.icon img{
    width: 36px;
    height: 36px;
    display: inline-block;
    position: relative;
}

/*Carrusel*/
.owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

    .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

        .owl-carousel .owl-dots .owl-dot span {
            width: 12px;
            height: 12px;
            margin: 5px;
            background: transparent;
            border: 1px solid #CFCFCF;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px;
        }

        .owl-carousel .owl-dots .owl-dot.active span,
        .owl-carousel .owl-dots .owl-dot:hover span {
            background: #9F1897;
            border-color: #9F1897;
        }

@media (min-width: 768px) {
    .no-gutter-xs {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* ****************************************************************
Navbar Header
**************************************************************** */
.navbar-cdp {
    border-radius: 0;
    border: none;
    background-color: #fff;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    z-index: 10;
}
    .navbar-cdp .navbar-brand {
        padding: 20px 15px;
        float: none;
    }
    .navbar-cdp .navbar-brand > img{
        margin: 0 auto;
    }


.fb-icon {
    background-color: #4267B2;
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 50%;
    text-align: center;
    padding: 7px;
}

    .fb-icon:hover {
        background-color: #365899;
    }

@media (min-width: 768px) {
    .navbar-cdp .navbar-brand {
        height: auto;
        padding: 10px 15px;
        float: left;
    }

    .navbar-cdp .navbar-btn {
        margin-top: 34px;
        margin-bottom: 34px;
        margin-right: 5px;
    }

    .navbar-cdp .navbar-text {
        margin-top: 36px;
        margin-bottom: 36px;
        margin-left: 10px;
        margin-right: 0;
    }
}

/* ****************************************************************
Pack Foto Info
**************************************************************** */
.pack-wrapper{
    position: relative;
}
.pack-container{
    position: relative;
    overflow: hidden;
    min-height: 300px;
}
.pack-container .pack-image{
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url('../images/destino-brasil.jpg') no-repeat top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
}
.pack-container .pack-image img{
    height: 100%;
    display: block;
}
.pack-container .pack-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: -webkit-linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    padding: 20px 20px 40px;
}
.pack-container .pack-info .title{
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 36px;
}
.pack-container .pack-info .subtitle{
    margin: 0 0 10px;
    font-size: 24px;
}
.pack-container .pack-info .description{
    margin: 0 0 10px;
    font-size: 16px;
    font-family: 'Gotham', sans-serif;
}
.pack-container .pack-price{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #9F1897;
    color: #fff;
    font-family: 'Gotham', sans-serif;
    padding: 10px 15px 15px;
    text-align: center;
}
.pack-container .pack-price .price{
    margin-bottom: 0px;
}
.pack-container .pack-price .price span{
    font-size: 36px;
    font-weight: 700;
}
.pack-container .pack-price .price-description{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.03em;
}
.pack-items{
    padding: 20px 20px 0;
}
.pack-items .item{
    position: relative;
    padding: 10px;
    padding-left: 38px;
    font-size: 16px;
    font-family: 'Gotham', sans-serif;
    color: #9F1897;
}
.pack-items .item .icon-pack{
    position: absolute;
    top: -2px;
    left: 0;
}
.owl-carousel{
    display: block !important;
}
.item img{
    display: block;
    max-width: 100%;
}
@media (min-width: 768px){
    .pack-wrapper{
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        height: 545px;
    }
    .pack-container{
        height: 100%;
    }
    .pack-container .pack-info{
        padding: 30px;
    }
    .pack-container .pack-image{
        position: relative;
        overflow: hidden;
    }
    .pack-container .pack-info .title,
    .pack-container .pack-info .subtitle,
    .pack-container .pack-info .description{
        max-width: 50%;
    }
    .pack-container .pack-price{
        top: 30px;
        right: 0;
        width: auto;
        bottom: auto;
        left: auto;
        max-width: 50%;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
    .pack-items{
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(0,0,0,.4);
        padding: 15px 30px 10px 50px;
    }
    .pack-items .item{
        color: #fff;
        padding: 7px 0 7px 38px;
        font-size: 13px;
    }
    .pack-items .item .icon-pack{
        top: -1px;
    }
    .pack-items .item .icon-pack img{
        width: 28px;
        height: 28px;
    }
    .pack-items .owl-nav{
        position: absolute;
        width: 100%;
        left: 0;
        top: -5px;
    }
    .pack-items .owl-nav .owl-prev,
    .pack-items .owl-nav .owl-next{
        position: absolute;
        width: 28px;
        height: 36px;
        text-align: center;
    }
    .pack-items .owl-nav .owl-prev{
        left: -40px;
    }
    .pack-items .owl-nav .owl-next{
        right: -20px;
    }
    .pack-items .owl-nav .owl-prev img,
    .pack-items .owl-nav .owl-next img{
        height: 20px;
        margin-top: 8px;
    }
    .pack-items .owl-nav .owl-prev img{
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .pack-container .pack-price{
        text-align: right;
    }
}

/* ****************************************************************
CTA Llamanos / Phone
**************************************************************** */
.cta-phone{
    padding: 20px 20px 0;
    width: 100%;
    background-color: #fff;
}
.cta-phone .hour-text{
    text-align: center;
    color: #777;
    margin-top: 10px;
    font-size: 16px;
}
.cta-phone.affix-top{
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.cta-phone.affix{
    position: relative;
}
.icon-phone,
.icon-phone img{
    width: 26px;
    height: 26px;
    top: -1px;
}
span.hidden-xs {
  display: none !important;
}
@media (min-width: 768px) {
    .cta-phone{
        padding: 0;
    }
    .cta-phone.affix-top{
        position: relative;
    }
    span.hidden-xs {
      display: inline-block !important;
    }
}
@media (max-width: 767px) and (max-height: 500px){
    .cta-phone{
        padding: 0;
    }
    .cta-phone.affix-top{
        position: relative;
    }
}
/* ****************************************************************
Contact Box Form
**************************************************************** */
.contact-box {
    background-color: #01C8B3;
    padding: 20px;
    color: #fff;
    position: relative;
}
.contact-box .form-group {
    position: relative;
}
@media (max-width: 767px){
    .contact-box .form-group {
        margin-bottom: 25px;
    }
}
.contact-box input:hover,
.contact-box select:hover {
    cursor: pointer;
}
.contact-box-form label {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.contact-box-form .form-control[readonly] {
    background-color: #fff;
}
.contact-box-form .form-control {
    font-size: 14px;
    height: 45px;
    border: 1px solid #10BAA7;
    padding: 6px 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

select::-ms-expand {
    display: none;
}
.contact-box-form .select-schedule .form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("../images/icon-angle-down.svg") no-repeat right 10px center;
}
.contact-box-form label {
    display: block;
}

.contact-box-form .title{
    display: block;
    text-align: center;
    font-family: 'Gotham', sans-serif;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.contact-box input::-webkit-input-placeholder { 
    color:    #aaa;
}
.contact-box input:-moz-placeholder { 
   color:    #aaa;
   opacity:  1;
}
.contact-box input::-moz-placeholder { 
   color:    #aaa;
   opacity:  1;
}
.contact-box input:-ms-input-placeholder { 
   color:    #aaa;
}
.contact-box input::-ms-input-placeholder { 
   color:    #aaa;
}
.contact-box input::placeholder { 
   color:    #aaa;
}
.select-schedule select{
    color: #aaa;
}
.contact-box .col-area{
    padding-right: 5px;
}
.contact-box .col-phone{
    padding-left: 5px;
}
/*Radio button*/
.radio-options {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}
    .radio-options input {
        position: absolute;
        opacity: 0;
    }

    .radio-options .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .radio-options input:checked ~ .checkmark {
        background-color: #9F1897;
    }

    .radio-options .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .radio-options label {
        padding-left: 25px;
        padding-top: 1.5px;
        position: relative;
    }

    .radio-options input:checked ~ .checkmark:after {
        display: block;
    }

    .radio-options .checkmark:after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }


/*Error*/
.contact-box-form .form-control.parsley-error {
    border: 2px solid #F60B34;
}

.parsley-errors-list.filled {
    position: absolute;
    z-index: 2;
    top: -80%;
    left: 10px;
    background-color: #F60B34;
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.3);
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    list-style: none;
}
.captcha .parsley-errors-list.filled{
    top: -60%;
}

.parsley-errors-list.filled:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #F60B34 transparent transparent transparent;
}

.contact-box .captcha{
    margin-bottom: 15px;
    position: relative;
}
.contact-box .captcha .g-recaptcha > div{
    margin: 0 auto;
}

@media (max-width: 767px){
    input[type="email"],
    input[type="tel"],
    input[type="text"],
    select:focus,
    textarea,
    select {
      font-size: 16px !important;
    }
}

@media (min-height: 0px) and (max-height: 610px) {}

@media (min-width: 768px) {
    #home-main-section {
        padding: 30px 0;
    }
    .contact-box {
        border-radius: 5px;
    }
    .contact-box-form .form-control {
        font-size: 16px;
        padding: 6px 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .payments-container {
        display: none;
    }

        .payments-container.payments-container-ipad {
            display: block;
            margin-top: 30px;
        }
}

@media (min-width: 992px) {
    .contact-box {
        height: 458px;
    }
}
@media (min-width: 1200px) {}


/* ****************************************************************
Footer
**************************************************************** */
footer {
    background-color: #666;
    padding: 40px 0;
}

.footer-menu-list {
    text-align: center;
}

    .footer-menu-list li {
        margin-bottom: 5px;
    }

        .footer-menu-list li a {
            color: #CCCCCC;
            font-family: 'Gotham', sans-serif;
        }

            .footer-menu-list li a:hover,
            .footer-menu-list li a:focus {
                color: #fff;
            }

.footer-seals {
    text-align: center;
}

    .footer-seals a {
        text-decoration: none;
    }

        .footer-seals a .footer-seal {
            display: inline-block;
            height: 54px;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .footer-seals a:last-child .footer-seal {
            margin-left: 20px;
        }

.copy-text {
    text-align: center;
    color: #CCCCCC;
    margin-top: 20px;
    border-top: 1px solid #979797;
    padding-top: 20px;
    font-family: 'Gotham', sans-serif;
}

    .copy-text p {
        margin-bottom: 0;
        font-size: 12px;
    }

@media (min-width: 768px) {
    .footer-logos {
        margin-top: 10px;
    }

    footer {
        padding: 60px 0;
    }

    .footer-menu-list {
        text-align: left;
    }

    .footer-seals {
        float: right;
    }

    .copy-text p {
        font-size: 14px;
    }

    .footer-seals a .footer-seal {
        margin-bottom: 0;
    }
}
