﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Pasajes en micro, Pasajes de bus, Pasajes de omnibus - CentraldePasajes.com.ar
    </title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="https://www.centraldepasajes.com.ar/cdp/images/logo-cdp.png" />
    <meta property="og:site_name" content="Central de Pasajes" />
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/external-fonts.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="manifest.json" />
    <link rel="mask-icon" href="~/Content/images/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-cdp">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand hidden-xs" href="#">
                    <img src="~/Content/images/logo-central-de-pasajes.svg" alt="Central de Pasajes" height="90">
                </a>
                <a class="navbar-brand visible-xs-block" href="#">
                    <img src="~/Content/images/logo-central-de-pasajes-horizontal.svg" alt="Central de Pasajes" heigth="13" width="205">
                </a>
            </div>
            <div class="hidden-xs">
                <p class="navbar-text navbar-right">
                    <a href="#" class="navbar-link fb-icon">
                        <img src="~/Content/images/icon-fb.svg" alt="Facebook">
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <section id="home-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8 no-gutter-xs">
                    <div class="pack-wrapper">
                        <div class="pack-container">
                            <div class="pack-image"></div>
                            <div class="pack-info">
                                <h1 class="title"></h1>
                                <h2 class="title"></h2>
                                <h4 class="subtitle"></h4>
                                <p class="description"><b>Salidas: </b><span class="salidas"></span></p>
                            </div>
                            <div class="pack-price">
                                <p class="price">Desde $ <span class=""></span></p>
                                <p class="price-description conditions"></p>
                                <p class="price-description financiation"></p>
                            </div>
                        </div>
                        <div class="pack-items">
                            <div id="owl-pack-items-slider" class="pack-items-slider owl-carousel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 no-gutter-xs">
                    <div class="cta-phone" data-spy="affix">
                        <a class="btn btn-primary btn-block btn-lg" href="tel:+541132216477">
                            <i class="icon icon-phone"><img src="~/Content/images/icon-phone.svg" alt="Llamanos"></i> ¡Llamanos! <span class="hidden-xs">3221-6477</span>
                        </a>
                        <p class="hour-text">Horario: <span class="horarios"></span></p>
                    </div>
                    <div class="contact-box">
                        <div class="contact-box-form">
                            <div class="form-group radio-options">
                                <label>
                                    <input tabindex="3" type="radio" name="inlineRadioOptions" id="option-phone" value="option1" checked="checked">Quiero que me llamen
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <input tabindex="4" type="radio" name="inlineRadioOptions" id="option-mail" value="option2">Quiero que me envíen más info
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <form id="option-phone-container" class="">

                                <input type="hidden" class="input-salida" name="salida" />
                                <input type="hidden" class="input-pais" name="pais" />
                                <input type="hidden" class="input-duracion" name="duracion" />
                                <input type="hidden" class="input-salidas" name="salidas" />
                                <input type="hidden" class="input-financiation" name="financiation" />
                                <input type="hidden" class="input-conditions" name="conditions" />
                                <input type="hidden" class="input-price" name="price" />
                                <input type="hidden" class="input-iconos" name="iconos" />

                                <span class="title">Quiero que me llamen</span>
                                <div class="form-group">
                                    <label class="sr-only" id="label-name" for="name">Nombre</label>
                                    <input class="form-control" tabindex="1" required id="name" name="name" placeholder="Nombre"
                                           data-parsley-required-message="Ingresá tu nombre"
                                           type="text" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-5 col-area">
                                            <label class="sr-only" id="label-phone" for="area">Cód. Área</label>
                                            <input class="form-control" tabindex="2" required id="area" name="area" placeholder="Cód. Área" data-parsley-required-message="Cód. Área" data-parsley-area type="text" />
                                        </div>
                                        <div class="col-xs-7 col-phone">
                                            <label class="sr-only" id="label-phone" for="phone">Teléfono</label>
                                            <input class="form-control" tabindex="3" required id="phone" name="phone" placeholder="Teléfono" data-parsley-required-message="Teléfono" data-parsley-telephone type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="select-schedule">
                                    <div class="form-group">
                                        <label class="sr-only" id="label-schedule" for="schedule">Horario de contacto</label>
                                        <select class="form-control" required
                                                data-parsley-required-message="Seleccioná un horario" name="schedule">
                                            <option value="" selected disabled>Horario de contacto</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="captcha">
                                    <div class="g-recaptcha" id="captcha-phone" data-sitekey=""></div>
                                </div>
                                <button tabindex="8" type="submit" class="btn btn-primary btn-block btn-lg llamado">Solicitar Llamado</button>
                            </form>
                            <form id="option-mail-container" class="hidden">

                                <input type="hidden" class="input-salida" name="salida"/>
                                <input type="hidden" class="input-pais" name="pais"/>
                                <input type="hidden" class="input-duracion" name="duracion"/>
                                <input type="hidden" class="input-salidas" name="salidas"/>
                                <input type="hidden" class="input-financiation" name="financiation" />
                                <input type="hidden" class="input-conditions" name="conditions"/>
                                <input type="hidden" class="input-price" name="price" />
                                <input type="hidden" class="input-iconos" name="iconos"/>

                                <span class="title">Quiero que me envíen más info</span>
                                <div class="form-group">
                                    <label class="sr-only" id="label-name" for="name">Nombre</label>
                                    <input class="form-control" tabindex="1" required id="name" name="name" placeholder="Nombre"
                                           data-parsley-required-message="Ingresá tu nombre"
                                           type="text" />
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" id="label-mail" for="mail">E-mail</label>
                                    <input type="email" class="form-control" tabindex="2" required id="mail" name="mail" placeholder="E-mail"
                                           data-parsley-required-message="Ingresá tu E-mail"
                                           data-parsley-email-message="Ingresá un E-mail con formato válido" />
                                </div>
                                <div class="captcha">
                                    <div class="g-recaptcha" id="captcha-mail" data-sitekey=""></div>
                                </div>
                                <button tabindex="8" type="submit" class="btn btn-primary btn-block btn-lg">Solicitar más info</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-5">
                    <ul class="list-unstyled footer-menu-list">
                        <li>
                            <a href="#">Términos y Condiciones</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="footer-seals">
                        <a href="javascript:Seal_Certificado('www.centraldepasajes.com.ar', 'es', 'CGHM-3.0', 'imagen');" target="_blank">
                            <img src="~/Content/images/img-footer-certisur.png" alt="CertiSur - Sitio Seguro" class="img-responsive footer-seal">
                        </a>
                        <a href="javascript:Seal_Certificado('www.centraldepasajes.com.ar', 'es', 'CGHM-3.0', 'imagen');" target="_blank">
                            <img src="~/Content/images/img-footer-geotrust.png" alt="GeoTrust Secured" class="img-responsive footer-seal">
                        </a>
                        <a href="https://servicios1.afip.gov.ar/clavefiscal/qr/mobilePublicInfo.aspx?req=e1ttZXRob2Q9Z2V0UHVibGljSW5mb11bcGVyc29uYT0zMDcwODE1Mjk3NF1bdGlwb2RvbWljaWxpbz0wXVtzZWN1ZW5jaWE9MF1bdXJsPWh0dHA6Ly93d3cuY2VudHJhbGRlcGFzYWplcy5jb20uYXJdfQ=="
                           target="_blank">
                            <img src="~/Content/images/img-footer-data-fiscal.png" alt="Data Fiscal" class="img-responsive footer-seal">
                        </a>
                    </div>
                </div>
            </div>
            <div class="copy-text">
                <p>AIV Central de Pasajes EVT · Legajo 12457</p>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/parsley.js"></script>
    <script type="text/javascript" src="~/Scripts/parsley.es.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
    <script type="text/javascript">
        $(document).ready(function () {

            function switchOwl(slider) {
                var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (width >= 768 && slider.data('owlCarousel') == undefined) {
                    slider.owlCarousel({
                        nav: true,
                        navText: ["<img src='/Content/images/icon-angle-slider.svg' alt='Anterior'>", "<img src='/Content/images/icon-angle-slider.svg' alt='Siguiente'>"],
                        dots: false,
                        autoPlay: false,
                        margin: 10,
                        rewind: true,
                        responsive: {
                            480: {
                                items: 3,
                            },
                            768: {
                                items: 4,
                            },
                            992: {
                                items: 3,
                            },
                            1200: {
                                items: 4,
                            }
                        }
                    });
                } else if (width < 768 && slider.data('owlCarousel') != undefined) {
                    slider.data('owlCarousel').destroy();
                }
            }



            var p = @Html.Raw(Json.Encode(Model));
            
            // loading JSON info
            $(".horarios").text(p.horarios);
            $(".pack-info h1").text(p.salida);
            $(".input-salida").val(p.salida);
            $(".pack-info h2").text(p.pais);
            $(".input-pais").val(p.pais);
            $(".pack-info .subtitle").text(p.duracion);
            $(".input-duracion").val(p.duracion);
            $(".pack-info .description").html(p.salidas);
            $(".input-salidas").val(p.salidas);
            $(".pack-price .conditions").text(p.condiciones);
            $(".input-conditions").val(p.condiciones);
            $(".pack-price .financiation").text(p.financiacion);
            $(".input-financiation").val(p.financiacion);
            $(".pack-price .price span").text(p.precio);
            $(".input-price").val(p.precio);

            var $listLength = p.iconos.length;
            // loading carousel items
             $.each(p.iconos, function (index, icono) {
                $owlcarousel = $(".owl-carousel");
                $owlcarousel.append("<div class='item'><picture class='icon icon-pack'><source srcset='" + icono.logoOscuro + "' media='(max-width: 767px)'><source srcset='" + icono.logoClaro + "'><img src='" + icono.logoClaro + "' alt='" + icono.leyenda + "'></picture>" + icono.leyenda + "</div>");

                if(($listLength - 1) == index) {
                    $(".input-iconos").val($(".input-iconos").val() + icono.leyenda);
                }
                else{
                    $(".input-iconos").val($(".input-iconos").val() + icono.leyenda + " || ");
                };
            });
             var owl = $("#owl-pack-items-slider");
             switchOwl(owl);
             $(window).on('resize', function () {
                 switchOwl(owl);
             });  
        });

    </script>
</body>
</html>